.jumbotron {
    background-image: url("/img/pizza-world.png");
    background-size: cover;
}

.display-4 {
    background-color: #ffffff;
    opacity: 60%;
    width: 100%;
}
 .card {
     width: auto;
 }

 .card-header {
     width: auto;
 }

 .card-header{
     background-repeat: ;
 }